body {
  font-family: Arial;
  max-width: 400px;
  margin: auto;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

button {
  background: #1f6feb;
  color: white;
  border: none;
}
